@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,500;1,500&family=Work+Sans:wght@100..900&display=swap");
@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg) translateX(0);
            transform: rotate(0deg) translateX(0);
  }
  50% {
    -webkit-transform: rotate(180deg) translateX(100%);
            transform: rotate(180deg) translateX(100%);
    opacity: 0; /* Зникає на півдорозі */
  }
  51% {
    opacity: 0; /* Продовжує бути невидимим */
  }
  100% {
    -webkit-transform: rotate(360deg) translateX(0);
            transform: rotate(360deg) translateX(0);
    opacity: 1; /* Повертається на місце та стає видимим */
  }
}
@keyframes spin {
  0% {
    -webkit-transform: rotate(0deg) translateX(0);
            transform: rotate(0deg) translateX(0);
  }
  50% {
    -webkit-transform: rotate(180deg) translateX(100%);
            transform: rotate(180deg) translateX(100%);
    opacity: 0; /* Зникає на півдорозі */
  }
  51% {
    opacity: 0; /* Продовжує бути невидимим */
  }
  100% {
    -webkit-transform: rotate(360deg) translateX(0);
            transform: rotate(360deg) translateX(0);
    opacity: 1; /* Повертається на місце та стає видимим */
  }
}
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
}

ul,
ol,
dl {
  padding-left: 0;
  margin: 0 0;
  list-style: none;
}

a {
  text-decoration: none;
}

html,
body {
  margin: 0 auto;
  font: 400 16px Montserrat, sans-serif;
  color: #000;
  line-height: 160%;
}

[class^=title] {
  font: 500 16px Work Sans, sans-serif;
  line-height: 130%;
  color: #212353;
}

.title-2 {
  font-size: 2.5em;
}
.title-3 {
  font-size: 1.5em;
}
.title-4 {
  font: 400 16px Montserrat, sans-serif;
  line-height: 160%;
}
@media screen and (max-width: 992px) {
  .title-2 {
    font-size: 1.5rem;
  }
  .title-3 {
    font-size: 1rem;
  }
  .title-4 {
    font-size: 0.75rem;
  }
}

.text {
  color: #4B5D68;
  margin: 0;
}
@media screen and (max-width: 992px) {
  .text {
    font-size: 0.87rem;
  }
}

.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 4vw;
  padding: 42px 42px;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  position: fixed;
  background-color: white;
  width: 100%;
  z-index: 10;
}
@media screen and (max-width: 992px) {
  .header .nav {
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
  }
}

.nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 0px;
  padding: 0px;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}
.nav .burger {
  display: none;
}
@media screen and (max-width: 992px) {
  .nav .burger:checked ~ .menu {
    visibility: visible;
    opacity: 1;
  }
  .nav .burger:checked ~ .burger__img {
    background: transparent;
    -webkit-transition: all 0s ease-out;
    transition: all 0s ease-out;
  }
  .nav .burger:checked ~ .burger__img::after {
    -webkit-transform: rotate(-45deg);
        -ms-transform: rotate(-45deg);
            transform: rotate(-45deg);
  }
  .nav .burger:checked ~ .burger__img::before {
    -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
            transform: rotate(45deg);
    top: 4px;
  }
}
.nav .burger__img {
  display: none;
  cursor: pointer;
}
@media screen and (max-width: 992px) {
  .nav .burger__img {
    position: relative;
    display: inline-block;
    width: 30px;
    height: 3px;
    background: #EB4BAB;
    -webkit-transition: all 0.5s ease-out;
    transition: all 0.5s ease-out;
  }
  .nav .burger__img::after, .nav .burger__img::before {
    content: "";
    display: block;
    height: 100%;
    position: absolute;
    -webkit-transition: all 0.2s ease-out;
    transition: all 0.2s ease-out;
    width: 100%;
  }
  .nav .burger__img::after {
    top: 5px;
    background: #94c50b;
  }
  .nav .burger__img::before {
    top: -5px;
    background: #8A40EE;
  }
}

.header,
.main,
.footer {
  padding: 42px calc(50vw - 585px);
}
@media screen and (max-width: 1200px) {
  .header,
  .main,
  .footer {
    padding: 35px calc(50vw - 585px + 12%);
  }
}
@media screen and (max-width: 992px) {
  .header,
  .main,
  .footer {
    padding: 22px calc(50vw - 585px + 22%);
  }
}
@media screen and (max-width: 768px) {
  .header,
  .main,
  .footer {
    padding: 0 15px;
    top: 0;
  }
}
.header .main,
.main .main,
.footer .main {
  padding-top: 10%;
}

section {
  margin: 5% 0;
}

.btn-1 {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  outline: none;
  overflow: hidden;
  padding: 20px;
  gap: 15px;
  font-size: 1.2em;
  font: 400 16px Montserrat, sans-serif;
  letter-spacing: 0.5px;
  color: #212353;
  background-color: #fff;
  border: 1px solid #9C69E2;
  border-radius: 50px;
  cursor: pointer;
}
.btn-1 i.fa-solid.fa-arrow-right {
  color: #9C69E2;
}
.btn-1:hover {
  color: #fff;
  background-color: #9C69E2;
}
.btn-1:hover i.fa-solid.fa-arrow-right {
  color: #fff;
}
@media screen and (max-width: 992px) {
  .btn-1 {
    font-size: 0.75rem;
    padding: 14px;
  }
}
@media screen and (max-width: 768px) {
  .btn-1 {
    font-size: 0.75rem;
    padding: 7px;
  }
}
.btn-2 {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  outline: none;
  overflow: hidden;
  padding: 20px;
  gap: 15px;
  font-size: 1.2em;
  font: 400 16px Montserrat, sans-serif;
  letter-spacing: 0.5px;
  color: #fff;
  background-color: #9C69E2;
  border: 1px solid #9C69E2;
  border-radius: 50px;
  cursor: pointer;
  padding: 20px 50px;
}
.btn-2:hover {
  color: #fff;
  background-color: #8A40EE;
}
.btn-2:hover i.fa-solid.fa-arrow-right {
  color: #fff;
}
@media screen and (max-width: 992px) {
  .btn-2 {
    font-size: 0.75rem;
    padding: 14px 39px;
  }
}
@media screen and (max-width: 768px) {
  .btn-2 {
    font-size: 0.75rem;
    padding: 7px 10px;
  }
}
.btn-3 {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  outline: none;
  overflow: hidden;
  padding: 20px;
  gap: 15px;
  font-size: 1.2em;
  font: 400 16px Montserrat, sans-serif;
  letter-spacing: 0.5px;
  color: #fff;
  background-color: #F063B8;
  border: 1px solid #F063B8;
  border-radius: 50px;
  cursor: pointer;
  padding: 20px 50px;
}
.btn-3:hover {
  color: #fff;
  background-color: #EB4BAB;
}
.btn-3:hover i.fa-solid.fa-arrow-right {
  color: #fff;
}
@media screen and (max-width: 992px) {
  .btn-3 {
    font-size: 0.75rem;
    padding: 14px 39px;
  }
}
@media screen and (max-width: 768px) {
  .btn-3 {
    font-size: 0.75rem;
    padding: 7px 10px;
  }
}

.menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 2.3vw;
  padding: 0 30px;
}
@media screen and (max-width: 992px) {
  .menu {
    position: absolute;
    right: 0;
    top: 70px;
    width: 9vw;
    right: 22vw;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    z-index: 2;
    padding: 0;
    gap: 0;
    visibility: hidden;
    opacity: 0;
    font-size: 0.75rem;
  }
}
@media screen and (max-width: 992px) {
  .menu__item {
    text-align: left;
    border-bottom: 2px solid #0fb2ac;
    background-color: #fff;
  }
}
.menu__link {
  text-decoration: none;
  text-transform: uppercase;
  color: #4B5D68;
  font-weight: 500;
}
.menu__link:hover {
  color: #8A40EE;
}

.banner {
  background: url("../assets/img/first-screen-img.png");
  background-size: 65% auto;
  background-repeat: no-repeat;
  background-position-x: 100%;
  background-position-y: 40%;
  min-height: calc(80vh - 100px);
  margin-top: 10%;
}
.banner__title {
  font: 500 16px Work Sans, sans-serif;
  color: #212353;
  font-size: 4em;
  line-height: 1.1;
  max-width: 601px;
  margin: 0;
  letter-spacing: 0em;
}
@media screen and (max-width: 992px) {
  .banner__title {
    font-size: 1.3rem;
    max-width: 700px;
  }
}
.banner > .text {
  padding-top: 5%;
  max-width: 40%;
}
@media screen and (max-width: 768px) {
  .banner > .text {
    font-size: 0.75rem;
    max-width: 300px;
  }
}
.banner .btn-2 {
  margin-top: 50px;
}
@media screen and (max-width: 992px) {
  .banner {
    padding-top: 50px;
    background-position-x: 95%;
    background-position-y: 95%;
    min-height: calc(50vh - 100px);
  }
}

.who-we-are {
  background: url("../assets/img/bg_1.png");
  border-radius: 5vmax;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 10px;
  padding: 0px;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}
.who-we-are .img {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  padding: 3%;
  overflow: hidden;
  margin-left: auto;
  margin-right: auto;
}
.who-we-are .img__logo {
  width: 100%;
  height: auto;
}
.who-we-are .img:hover {
  -webkit-transform: scale(1.1) rotate(15deg);
      -ms-transform: scale(1.1) rotate(15deg);
          transform: scale(1.1) rotate(15deg);
  width: 100%;
  height: 100%;
  -webkit-animation: spin 3s infinite;
          animation: spin 3s infinite;
}
.who-we-are .text-content {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  margin: 5%;
}
@media screen and (max-width: 992px) {
  .who-we-are {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.features .title-2, .features .title-4 {
  max-width: 638px;
  margin: 0 auto;
  text-align: center;
}
.features .title-2 {
  margin-bottom: 50px;
}
.features .title-4 {
  margin-bottom: 80px;
}
.features .cards {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 160px;
  padding: 0px;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  flex-wrap: wrap;
  text-align: center;
}
.features .cards .card {
  position: relative;
  max-width: 400px;
  padding: 62px 70px 62px 100px;
  border-radius: 5vmax;
  text-align: left;
}
.features .cards .card_search {
  background-color: #F0FAF9;
}
.features .cards .card_search::after {
  content: "";
  background-image: url("../assets/img/card1_img.png");
  position: absolute;
  display: inline-block;
  width: 100%;
  background-repeat: no-repeat;
  height: 100%;
  top: 30%;
  right: 40%;
}
.features .cards .card_24hours {
  background-color: #F6F0FD;
}
.features .cards .card_24hours::after {
  content: url("../assets/img/card2_img.png");
  position: absolute;
  display: inline-block;
  width: 100%;
  background-repeat: no-repeat;
  height: 100%;
  top: 30%;
  right: 40%;
}
.features .cards .card_print {
  background-color: #FEF0F8;
}
.features .cards .card_print::after {
  content: url("../assets/img/card3_img.png");
  position: absolute;
  display: inline-block;
  width: 100%;
  background-repeat: no-repeat;
  height: 100%;
  top: 30%;
  right: 40%;
}
.features .cards .card_code {
  background-color: #EAF6FC;
}
.features .cards .card_code::after {
  content: url("../assets/img/card4_img.png");
  position: absolute;
  display: inline-block;
  width: 100%;
  background-repeat: no-repeat;
  height: 100%;
  top: 30%;
  right: 40%;
}
.features .cards .card_content {
  min-width: 230px;
  min-height: 276px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.features .cards .card_link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 20px;
}
.features .cards .card_link a {
  color: #212353;
  text-decoration: none;
  font-size: 0.88rem;
}
.features .cards .card_link i.fa-solid.fa-arrow-right {
  color: #9C69E2;
}
@media screen and (max-width: 768px) {
  .features .cards .card {
    padding: 20px 23px 20px 30px;
  }
  .features .cards .card_content {
    padding: 10%;
  }
}
@media screen and (max-width: 1200px) {
  .features .cards {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .features .cards .card_search::after, .features .cards .card_24hours::after, .features .cards .card_print::after, .features .cards .card_code::after {
    -webkit-transform: scale(0.5);
        -ms-transform: scale(0.5);
            transform: scale(0.5);
    top: -37%;
    left: 6%;
  }
}

.testimonials {
  position: relative;
  background-color: #CCDDFF;
  border-radius: 5vmax;
  padding: 70px 80px;
}
.testimonials::after {
  content: "";
  position: absolute;
  background-image: url("../assets/img/vector_2.png");
  background-repeat: no-repeat;
  display: inline-block;
  z-index: 1;
  width: 542px;
  height: 342px;
  left: 46%;
  top: 11%;
  -webkit-transform: rotate(340deg);
      -ms-transform: rotate(340deg);
          transform: rotate(340deg);
}
.testimonials::before {
  content: "";
  position: absolute;
  display: inline-block;
  background-image: url("../assets/img/vector.png");
  background-repeat: no-repeat;
  z-index: 1;
  width: 542px;
  height: 342px;
  top: 15%;
  right: 55%;
  -webkit-transform: rotate(340deg);
      -ms-transform: rotate(340deg);
          transform: rotate(340deg);
}
.testimonials .title-2 {
  position: relative;
  z-index: 1;
  margin-bottom: 5%;
  text-align: center;
}
.testimonials .reviews-cards {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 0px;
  padding: 0px;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}
.testimonials .reviews-cards .card_review {
  max-width: 465px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 15px;
  padding: 50px 30px;
  border-radius: 5vmax;
  border: 1px solid #9C69E2;
  background-color: #fff;
  z-index: 2;
}
.testimonials .reviews-cards .card_review .descr > .title-4 {
  color: #212353;
}
@media screen and (max-width: 1200px) {
  .testimonials::after, .testimonials::before {
    background-size: 60% auto;
  }
  .testimonials::after {
    left: 40%;
    top: 28%;
    -webkit-transform: rotate(80deg);
        -ms-transform: rotate(80deg);
            transform: rotate(80deg);
  }
  .testimonials::before {
    left: 5%;
    top: 4%;
  }
  .testimonials .reviews-cards {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 70px;
  }
}

.footer_top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 10px;
  padding: 0px;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}
.footer .top_buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 30px;
}
.footer .top_title {
  max-width: 300px;
}
.footer_navigation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  gap: 200px;
  padding: 0px;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  margin-top: 5%;
}
.footer_navigation .footer_contacts {
  color: #212353;
  max-width: 300px;
}
.footer_navigation .footer_contacts .title-4 {
  display: inline-block;
  margin-left: 15px;
}
.footer_navigation .footer_contacts .contact_info {
  margin-top: 60px;
}
.footer_navigation .footer_contacts .contact_info p .contact {
  font: 400 16px Montserrat, sans-serif;
  color: #212353;
}
.footer_navigation .footer_nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  gap: 150px;
  padding: 0px;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}
.footer_navigation .footer_nav .nav {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-line-pack: start;
      align-content: flex-start;
}
.footer_navigation .footer_nav .nav_list {
  padding-top: 10px;
}
.footer_navigation .footer_nav .nav_link {
  color: #333333;
  padding-top: 10px;
}
.footer_navigation .footer_nav .nav_link:hover {
  color: #8A40EE;
}
.footer_navigation .footer_nav .social_links {
  gap: 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.footer_navigation .footer_nav .social_links .social_icon_hov {
  display: none;
}
.footer_navigation .footer_nav .social_links .social_icon:hover .social_icon_vis {
  display: none;
}
.footer_navigation .footer_nav .social_links .social_icon:hover .social_icon_hov {
  display: inline-block;
}
.footer small {
  max-width: 275px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 0.75rem;
  color: #212353;
  line-height: 180%;
  letter-spacing: 1px;
  font-weight: 300;
}
@media screen and (max-width: 992px) {
  .footer small {
    max-width: 200px;
    font-size: 0.75rem;
  }
}
@media screen and (max-width: 1200px) {
  .footer .top_buttons {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .footer .footer_navigation {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 30px;
  }
  .footer .footer_contacts {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    gap: 30px;
    padding: 0px;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    max-width: 100%;
  }
  .footer .footer_contacts .logo_img {
    display: block;
  }
  .footer .footer_contacts .title-4 {
    margin-left: 0px;
    margin-top: 10px;
  }
  .footer .footer_contacts .contact_info {
    margin-top: 0;
  }
  .footer .footer_nav {
    width: 100%;
    gap: 50px;
  }
}