@mixin flex($justify, $align-items, $gap, $padding, $direction: row) {
    display: flex;
    flex-wrap: wrap;
    justify-content: $justify;
    align-items: $align-items;
    gap: $gap;
    padding: $padding;
    flex-direction: $direction;
}

@mixin button($just-content, $font-text, $color-text,$color-bg, $color-brd) {
    display: inline-flex;
    justify-content: $just-content;
    outline: none;
    overflow: hidden;
    padding: 20px;
    gap: 15px;
    font-size: 1.2em;
    font: $font-text;
    letter-spacing: 0.5px;
    color: $color-text;
    background-color: $color-bg;
    border: 1px solid $color-brd;
    border-radius: 50px;
    cursor: pointer;

}
@mixin button_hover($color-text, $color-bg){
    color: $color-text;
    background-color: $color-bg;

    & i.fa-solid.fa-arrow-right {
        color: $color-text;
      }
}