$font-main: 400 16px Montserrat, sans-serif;
$font-title: 500 16px Work Sans, sans-serif;

$color-main: #000;
$color-white: #fff;
$color-violet: #9C69E2;
$color-violet-middle: #8A40EE;
$color-violet-dark: #212353;
$color-blue-medium: #CCDDFF;
$color-pink: #F063B8;
$color-pink-middle: #EB4BAB;
$color-gray-dark: #333333;
$color-gray-middle: #4B5D68;
$color-gray-light: #D9D9D9;


$container-width: 1170px;

$adaptive-width-container: calc($container-width / 2);

