@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,500;1,500&family=Work+Sans:wght@100..900&display=swap');
@import "vars";
@import "mixins";
@import "keyframes";

* {
    box-sizing: border-box;
    padding: 0;
}

ul,
ol,
dl {
    padding-left: 0;
    margin: 0 0;
    list-style: none;
}

a {
    text-decoration: none;
}

html,
body {
    margin: 0 auto;
    font: $font-main;
    color: $color-main;
    line-height: 160%;
}

[class^="title"] {
    font: $font-title;
    line-height: 130%;
    color: $color-violet-dark;
}

.title {
    &-2 {
        font-size: 2.5em;
    }

    &-3 {
        font-size: 1.5em;
    }

    &-4 {
        font: $font-main;
        line-height: 160%;
    }

    @media screen and (max-width: 992px) {
        &-2 {
            font-size: 1.5rem;
        }

        &-3 {
            font-size: 1rem;
        }

        &-4 {
            font-size: 0.75rem;
        }
    }
}

.text {
    color: $color-gray-middle;
    margin: 0;

    @media screen and (max-width: 992px) {
        font-size: 0.87rem;
    }
}

.header {
    @include flex(space-between, center, 4vw, 42px 42px);
    position: fixed;
    background-color: white;
    width: 100%;
    z-index: 10;

    & .nav {
        @media screen and (max-width: 992px) {
            justify-content: flex-end;
        }
    }
}

.nav {
    @include flex(flex-start, center, 0px, 0px);
    flex-grow: 1;

    & .burger {
        display: none;

        @media screen and (max-width: 992px) {
            &:checked {
                ~.menu {
                    visibility: visible;
                    opacity: 1;
                }

                ~.burger__img {
                    background: transparent;
                    transition: all 0s ease-out;

                    &::after {
                        transform: rotate(-45deg);
                    }

                    &::before {
                        transform: rotate(45deg);
                        top: 4px;
                    }
                }
            }
        }

        &__img {
            display: none;
            cursor: pointer;

            @media screen and (max-width: 992px) {
                position: relative;
                display: inline-block;
                width: 30px;
                height: 3px;
                background: $color-pink-middle;
                transition: all .5s ease-out;

                &::after,
                &::before {
                    content: '';
                    display: block;
                    height: 100%;
                    position: absolute;
                    transition: all .2s ease-out;
                    width: 100%;
                }

                &::after {
                    top: 5px;
                    background: #94c50b;
                }

                &::before {
                    top: -5px;
                    background: $color-violet-middle;
                }
            }
        }
    }
}

.header,
.main,
.footer {
    padding: 42px calc(50vw - $adaptive-width-container);

    @media screen and (max-width: 1200px) {
        padding: 35px calc(50vw - $adaptive-width-container + 12%);
    }

    @media screen and (max-width: 992px) {
        padding: 22px calc(50vw - $adaptive-width-container + 22%);
    }

    @media screen and (max-width: 768px) {
        padding: 0 15px;
        top: 0;
    }

    & .main {
        padding-top: 10%;
    }
}

section {
    margin: 5% 0;
}

.btn {
    &-1 {
        @include button(space-between, $font-main, $color-violet-dark, $color-white, $color-violet);

        & i.fa-solid.fa-arrow-right {
            color: $color-violet;
        }

        &:hover {
            @include button_hover($color-white, $color-violet);
        }

        @media screen and (max-width: 992px) {
            font-size: 0.75rem;
            padding: 14px;
        }

        @media screen and (max-width: 768px) {
            font-size: 0.75rem;
            padding: 7px;
        }
    }

    &-2 {
        @include button(center, $font-main, $color-white, $color-violet, $color-violet);
        padding: 20px 50px;

        &:hover {
            @include button_hover($color-white, $color-violet-middle);
        }

        @media screen and (max-width: 992px) {
            font-size: 0.75rem;
            padding: 14px 39px;
        }

        @media screen and (max-width: 768px) {
            font-size: 0.75rem;
            padding: 7px 10px;
        }
    }

    &-3 {
        @include button(center, $font-main, $color-white, $color-pink, $color-pink);
        padding: 20px 50px;

        &:hover {
            @include button_hover($color-white, $color-pink-middle);
        }

        @media screen and (max-width: 992px) {
            font-size: 0.75rem;
            padding: 14px 39px;
        }

        @media screen and (max-width: 768px) {
            font-size: 0.75rem;
            padding: 7px 10px;
        }
    }
}

.menu {
    display: flex;
    gap: 2.3vw;
    padding: 0 30px;

    @media screen and (max-width: 992px) {
        position: absolute;
        right: 0;
        top: 70px;
        width: 9vw;
        right: 22vw;
        flex-direction: column;
        z-index: 2;
        padding: 0;
        gap: 0;
        visibility: hidden;
        opacity: 0;
        font-size: 0.75rem;
    }

    &__item {
        @media screen and (max-width: 992px) {
            text-align: left;
            border-bottom: 2px solid #0fb2ac;
            background-color: $color-white;
        }
    }

    &__link {
        text-decoration: none;
        text-transform: uppercase;
        color: $color-gray-middle;
        font-weight: 500;

        &:hover {
            color: $color-violet-middle;
        }
    }
}

.banner {
    background: url('../assets/img/first-screen-img.png');
    background-size: 65% auto;
    background-repeat: no-repeat;
    background-position-x: 100%;
    background-position-y: 40%;
    min-height: calc(80vh - 100px);
    margin-top: 10%;

    &__title {
        font: $font-title;
        color: $color-violet-dark;
        font-size: 4em;
        line-height: 1.1;
        max-width: 601px;
        margin: 0;
        letter-spacing: 0em;

        @media screen and (max-width: 992px) {
            font-size: 1.3rem;
            max-width: 700px;
        }
    }

    &>.text {
        padding-top: 5%;
        max-width: 40%;

        @media screen and (max-width: 768px) {
            font-size: 0.75rem;
            max-width: 300px;
        }
    }

    & .btn-2 {
        margin-top: 50px;
    }

    @media screen and (max-width: 992px) {
        padding-top: 50px;
        background-position-x: 95%;
        background-position-y: 95%;
        min-height: calc(50vh - 100px);
    }
}

.who-we-are {
    background: url('../assets/img/bg_1.png');
    border-radius: 5vmax;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    @include flex(space-between, center, 10px, 0px);

    & .img {
        flex: 1;
        padding: 3%;
        overflow: hidden;
        margin-left: auto;
        margin-right: auto;

        &__logo {
            width: 100%;
            height: auto;
        }

        &:hover {
            transform: scale(1.1) rotate(15deg);
            width: 100%;
            height: 100%;
            animation: spin 3s infinite;
        }
    }

    & .text-content {
        flex: 1;
        margin: 5%;
    }

    @media screen and (max-width: 992px) {
        flex-direction: column;
    }
}

.features {

    & .title-2,
    & .title-4 {
        max-width: 638px;
        margin: 0 auto;
        text-align: center;
    }

    & .title-2 {
        margin-bottom: 50px;
    }

    & .title-4 {
        margin-bottom: 80px;
    }

    .cards {
        @include flex(flex-end, center, 160px, 0px);
        flex-wrap: wrap;
        text-align: center;

        & .card {
            position: relative;
            max-width: 400px;
            padding: 62px 70px 62px 100px;
            border-radius: 5vmax;
            text-align: left;

            &_search {
                background-color: #F0FAF9;

                &::after {
                    content: "";
                    background-image: url('../assets/img/card1_img.png');
                    position: absolute;
                    display: inline-block;
                    width: 100%;
                    background-repeat: no-repeat;
                    height: 100%;
                    top: 30%;
                    right: 40%;
                }
            }

            &_24hours {
                background-color: #F6F0FD;

                &::after {
                    content: url('../assets/img/card2_img.png');
                    position: absolute;
                    display: inline-block;
                    width: 100%;
                    background-repeat: no-repeat;
                    height: 100%;
                    top: 30%;
                    right: 40%;
                }
            }

            &_print {
                background-color: #FEF0F8;

                &::after {
                    content: url('../assets/img/card3_img.png');
                    position: absolute;
                    display: inline-block;
                    width: 100%;
                    background-repeat: no-repeat;
                    height: 100%;
                    top: 30%;
                    right: 40%;
                }
            }

            &_code {
                background-color: #EAF6FC;

                &::after {
                    content: url('../assets/img/card4_img.png');
                    position: absolute;
                    display: inline-block;
                    width: 100%;
                    background-repeat: no-repeat;
                    height: 100%;
                    top: 30%;
                    right: 40%;
                }
            }

            &_content {
                min-width: 230px;
                min-height: 276px;
                display: flex;
                flex-direction: column;
                justify-content: space-between;
            }

            &_link {
                display: flex;
                justify-content: space-between;
                align-items: center;
                gap: 20px;

                & a {
                    color: $color-violet-dark;
                    text-decoration: none;
                    font-size: 0.88rem;
                }

                & i.fa-solid.fa-arrow-right {
                    color: $color-violet;
                }
            }

            @media screen and (max-width: 768px) {
                padding: 20px 23px 20px 30px;

                &_content {
                    padding: 10%;
                }
            }
        }
    }

    @media screen and (max-width: 1200px) {
        & .cards {
            flex-direction: column;

            & .card {

                &_search::after,
                &_24hours::after,
                &_print::after,
                &_code::after {
                    transform: scale(.5);
                    top: -37%;
                    left: 6%;
                }
            }
        }
    }
}

.testimonials {
    position: relative;
    background-color: $color-blue-medium;
    border-radius: 5vmax;
    padding: 70px 80px;

    &::after {
        content: "";
        position: absolute;
        background-image: url('../assets/img/vector_2.png');
        background-repeat: no-repeat;
        display: inline-block;
        z-index: 1;
        width: 542px;
        height: 342px;
        left: 46%;
        top: 11%;
        transform: rotate(340deg);
    }

    &::before {
        content: "";
        position: absolute;
        display: inline-block;
        background-image: url('../assets/img/vector.png');
        background-repeat: no-repeat;
        z-index: 1;
        width: 542px;
        height: 342px;
        top: 15%;
        right: 55%;
        transform: rotate(340deg);
    }

    & .title-2 {
        position: relative;
        z-index: 1;
        margin-bottom: 5%;
        text-align: center;
    }

    & .reviews-cards {
        @include flex(space-between, center, 0px, 0px);

        & .card_review {
            max-width: 465px;
            display: flex;
            gap: 15px;
            padding: 50px 30px;
            border-radius: 5vmax;
            border: 1px solid $color-violet;
            background-color: $color-white;
            z-index: 2;

            & .descr {
                &>.title-4 {
                    color: $color-violet-dark;
                }
            }
        }
    }

    @media screen and (max-width: 1200px) {

        &::after,
        &::before {
            background-size: 60% auto;
        }
        &::after {
            left: 40%;
            top: 28%;
            transform: rotate(80deg);
        }
        &::before {
            left: 5%;
            top: 4%;
        }

        & .reviews-cards {
            flex-direction: column;
            gap: 70px;
        }
    }
}

.footer {
    &_top {
        @include flex(space-between, center, 10px, 0px);
    }

    & .top_buttons {
        display: flex;
        gap: 30px;
    }

    & .top_title {
        max-width: 300px;
    }

    &_navigation {
        @include flex(space-between, flex-start, 200px, 0px);
        flex-wrap: nowrap;
        margin-top: 5%;

        & .footer_contacts {
            color: $color-violet-dark;
            max-width: 300px;

            & .title-4 {
                display: inline-block;
                margin-left: 15px;
            }

            & .contact_info {
                margin-top: 60px;

                & p .contact {
                    font: $font-main;
                    color: $color-violet-dark;
                }
            }
        }

        & .footer_nav {
            @include flex(space-between, flex-start, 150px, 0px);

            & .nav {
                flex-direction: column;
                align-content: flex-start;

                &_list {
                    padding-top: 10px;
                }

                &_link {
                    color: $color-gray-dark;
                    padding-top: 10px;

                    &:hover {
                        color: $color-violet-middle;
                    }
                }
            }

            & .social_links {
                gap: 15px;
                display: flex;

                .social_icon_hov {
                    display: none;
                }

                .social_icon:hover .social_icon_vis {
                    display: none;
                }

                .social_icon:hover .social_icon_hov {
                    display: inline-block;
                }
            }
        }
    }

    & small {
        max-width: 275px;
        display: flex;
        font-size: 0.75rem;
        color: $color-violet-dark;
        line-height: 180%;
        letter-spacing: 1px;
        font-weight: 300;

        @media screen and (max-width: 992px) {
            max-width: 200px;
            font-size: 0.75rem;
        }
    }

    @media screen and (max-width: 1200px) {
        & .top_buttons {
            flex-direction: column;
        }

        & .footer_navigation {
            flex-direction: column;
            gap: 30px;
        }

        & .footer_contacts {
            @include flex(space-between, flex-start, 30px, 0px);
            max-width: 100%;

            & .logo_img {
                display: block;
            }

            & .title-4 {
                margin-left: 0px;
                margin-top: 10px;
            }

            & .contact_info {
                margin-top: 0;
            }
        }

        & .footer_nav {
            width: 100%;
            gap: 50px;
        }
    }
}